<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Accounts">
		<setting type="lsep" label="Trakt" />
		<setting id="trakt.token" type="text" visible="false" label="" default="" />
		<setting id="trakt.refresh" type="text" visible="false" label="" default="" />
		<setting id="trakt.expires" type="text" visible="false" label="" default="" />
		<setting type="action" label="Authorize" option="close" action="RunScript(script.module.myaccts, action=traktAuth)" visible="eq(-1,)" />
		<setting id="trakt.username" type="text" default="" label="40062" enable="false" visible="!eq(-2,)" />
		<setting type="action" label="32316" option="close" action="RunScript(script.module.myaccts, action=traktAcct)" visible="!eq(-1,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccts, action=traktRevoke)" visible="!eq(-2,)" />

		<setting type="lsep" label="40058" />
		<setting id="realdebrid.token" label="40079" type="text" default="" visible="false" />
		<setting id="realdebrid.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="realdebrid.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" option="close" action="RunScript(script.module.myaccts, action=realdebridAcct)" visible="!eq(-2,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.myaccts, action=realdebridAuth)" visible="eq(-5,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccts, action=realdebridRevoke)" visible="!eq(-5,)" />
		<setting id="realdebrid.client_id" label="realdebrid client_id" type="text" default="" visible="false" />
		<setting id="realdebrid.refresh" label="realdebrid refresh" type = "text" default="" visible="false" />
		<setting id="realdebrid.secret" label="realdebrid secret" type = "text" default="" visible="false" />

		<setting type="lsep" label="40057" />
		<setting id="premiumize.token" label="40078" type="text" default="" visible="false" />
		<setting id="premiumize.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="premiumize.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" option="close" action="RunScript(script.module.myaccts, action=premiumizeAcct)" visible="!eq(-2,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.myaccts, action=premiumizeAuth)" visible="eq(-5,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccts, action=premiumizeRevoke)" visible="!eq(-5,)" />

		<setting type="lsep" label="40059" />
		<setting id="alldebrid.token" label="40077" type="text" default="" visible="false" />
		<setting id="alldebrid.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="alldebrid.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" option="close" action="RunScript(script.module.myaccts, action=alldebridAcct)" visible="!eq(-2,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.myaccts, action=alldebridAuth)" visible="eq(-5,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccts, action=alldebridRevoke)" visible="!eq(-5,)" />

		<setting id="realdebrid.notification.range" type="text" visible="false" label="" default="" />
		<setting id="premiumize.notification.range" type="text" visible="false" label="" default="" />
		<setting id="alldebrid.notification.range" type="text" visible="false" label="" default="" />
	</category>
	<category label="Manage Accounts">
		<setting type="lsep" label="Trakt" />
		<setting id="trakt.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="View Authorized Add-ons" option="close" action="ActivateWindow(10001,plugin://script.module.myauth/?mode=trakt,return)" visible="!eq(-1,)" />
		<setting type="action" label="Sync All Add-ons" option="close" action="RunScript(script.module.myaccts, action=traktReSync)" visible="!eq(-2,)" />
		<setting type="action" label="Revoke All Add-ons" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=addontrakt&name=all)" visible="!eq(-3,)" />

		<setting type="lsep" label="Real-Debrid" />
		<setting id="realdebrid.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="View Authorized Add-ons" option="close" action="ActivateWindow(10001,plugin://script.module.myauth/?mode=realdebrid,return)" visible="!eq(-1,)" />
		<setting type="action" label="Sync All Add-ons" option="close" action="RunScript(script.module.myaccts, action=realdebridSync)"  visible="!eq(-2,)" />
		<setting type="action" label="Revoke All Add-ons" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=addondebrid_rd&name=all)"  visible="!eq(-3,)" />

		<setting type="lsep" label="Premiumize.me" visible="!eq(1,)" />
		<setting id="premiumize.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="View Authorized Add-ons" option="close" action="ActivateWindow(10001,plugin://script.module.myauth/?mode=premiumize,return)" visible="!eq(-1,)" />
		<setting type="action" label="Sync All Add-ons" option="close" action="RunScript(script.module.myaccts, action=premiumizeSync)"  visible="!eq(-2,)" />
		<setting type="action" label="Revoke All Add-ons" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=addondebrid_pm&name=all)"  visible="!eq(-3,)" />
	
		<setting type="lsep" label="All-Debrid" visible="!eq(1,)" />
		<setting id="alldebrid.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="View Authorized Add-ons" option="close" action="ActivateWindow(10001,plugin://script.module.myauth/?mode=alldebrid,return)" visible="!eq(-1,)" />
		<setting type="action" label="Sync All Add-ons" option="close" action="RunScript(script.module.myaccts, action=alldebridSync)"  visible="!eq(-2,)" />
		<setting type="action" label="Revoke All Add-ons" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=addondebrid_ad&name=all)"  visible="!eq(-3,)" />
	</category>
	<category label="Backup & Recovery">
		<setting type="lsep" label="Trakt" />
		<setting id="trakt.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="Backup Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=savetrakt_myacct&name=all)" visible="!eq(-1,)" />
		<setting type="action" label="Recover Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=restoretrakt&name=all)" visible="eq(-3,)" />
		<setting type="action" label="Clear Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=cleartrakt&name=all)" visible="eq(-4,)" />

		<setting type="lsep" label="Real-Debrid" />
		<setting id="realdebrid.username" label="" type="text" default="" visible="false" />
		<setting type="action" label="Backup Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=savedebrid_myacct&name=all)"  visible="!eq(-1,)" />
		<setting type="action" label="Recover Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=restoredebrid_rd&name=all)"  visible="eq(-3,)" />
		<setting type="action" label="Clear Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=cleardebrid_rd&name=all)" visible="eq(-4,)" />

		<setting type="lsep" label="Premiumize.me" />
		<setting id="premiumize.username" label="" type="text" default="" visible="false" />
		<setting type="action" label="Backup Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=savedebrid_myacct&name=all)"  visible="!eq(-1,)" />
		<setting type="action" label="Recover Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=restoredebrid_pm&name=all)"  visible="eq(-3,)" />
		<setting type="action" label="Clear Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=cleardebrid_pm&name=all)"  visible="eq(-4,)" />

		<setting type="lsep" label="All-Debrid" />
		<setting id="alldebrid.username" label="" type="text" default="" visible="false" />
		<setting type="action" label="Backup Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=savedebrid_myacct&name=all)"  visible="!eq(-1,)" />
		<setting type="action" label="Recover Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=restoredebrid_ad&name=all)"  visible="eq(-3,)" />
		<setting type="action" label="Clear Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=cleardebrid_ad&name=all)"  visible="eq(-4,)" />
	</category>
	<category label="Configure Backup">
		<setting type="lsep" label="Configure Backup Directory" />
		<setting type="action" label="Set Backup Directory" option="close" action="RunScript(script.module.myaccts, action=SetBackupFolder)" />
		<setting type="action" label="Reset Backup Directory" option="close" action="RunScript(script.module.myaccts, action=ResetBackupFolder)" />
		<setting type="lsep" label="Backup Directory" />
		<setting label="Current Backup Directory" type="folder" id="backupfolder" source="" option="writeable" default="special://userdata/addon_data/script.module.myaccts" enable="false" visible="eq(-2,)" />
	</category>
</settings>
