<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
	<section id="settings" label="" help="">
		<category id="general.settings" label="30000" help="">
			<group id="1" label="14260">
				<setting id="general.debug" label="30001" type="boolean" help="">
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="6" label="30011">
				<setting id="general.search.sqmatch" label="30012" type="boolean">
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="general.search.sqmatch.ratio" type="integer" label="30014" help="" parent="general.search.sqmatch">
					<level>0</level>
					<default>85</default>
					<dependencies>
						<dependency type="enable" setting="general.search.sqmatch">true</dependency>
					</dependencies>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="percentage">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="general.search.instring" label="30013" type="boolean">
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="7" label="30015">
				<setting id="general.smart" label="30016" type="boolean">
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="general.smart.play" label="30017" type="boolean">
					<default>true</default>
					<dependencies>
						<dependency type="enable" setting="general.smart">true</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="general.smart.fav" label="30018" type="boolean">
					<default>true</default>
					<dependencies>
						<dependency type="enable" setting="general.smart">true</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="8" label="30019">
				<setting id="general.cache.played" label="30020" type="integer">
					<level>0</level>
					<default>20</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="general.cache.search" label="30021" type="integer">
					<level>0</level>
					<default>20</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="customiser.settings" label="30002" help="">
			<group id="2" label="30003" >
				<setting id="customiser.category.edit" type="action" label="30005">
					<data>RunScript($CWD/resources/lib/scripts/edit_hidden.py,$ID,category)</data>
					<control type="button" format="action"/>
				</setting>
			</group>
			<group id="3" label="30004">
				<setting id="customiser.channel.edit" type="action" label="30005">
					<data>RunScript($CWD/resources/lib/scripts/edit_hidden.py,$ID,channel)</data>
					<control type="button" format="action"/>
				</setting>
			</group>
		</category>
		<category id="tools.maintenance" label="30006">
			<group id="4" label="30007">
				<setting id="clear.customiser.file" type="action" label="30008">
					<data>RunScript($CWD/resources/lib/scripts/tools_maintenance.py,$ID,clear_hidden)</data>
					<control type="button" format="action"/>
				</setting>
			</group>
			<group id="5" label="30009">
				<setting id="delete.temp.files" type="action" label="30010">
					<data>RunScript($CWD/resources/lib/scripts/tools_maintenance.py,$ID,del_temp)</data>
					<control type="button" format="action"/>
				</setting>
			</group>
		</category>
	</section>
</settings>