<settings>
<category label="General">
		<setting id="DNS" type="text" label="DNS" default=""/>
		<setting id="Username" type="text" label="Username" default=""/>
		<setting id="Password" type="text" label="Password" default=""/>
		<setting id="meta" type="bool" label="VOD meta" visible="false" default="false"/>
		<setting id="hidexxx" type="bool" label="Show Adult" visible="false" default="false"/>
		<setting id="xxx_pwset" type="bool" label="Password Lock Adult Content" default="false"/>
		<setting id="xxx_pw" option = 'hidden' type="text" label="Adult Content Password (Default: 1234)" default="1234"/>
</category>
</settings>