<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="31000"> <!-- Main -->
        <!-- <setting label="30001" type="text" id="username" /> -->
        <!-- <setting label="30002" type="text" option="hidden" id="password" /> -->
        <setting label="31001" type="action" action="RunPlugin(plugin://plugin.video.parrottv/ISS)"/>
        <setting label="31002" type="select" id="selectColor" lvalues="31010|31011|31012" />
    </category>
    <category label="35000"> <!-- Playlist -->
        <setting label="30201" type="lsep"/>
        <setting label="35001" type="bool" id="CSEnabled" default="false"/>

        
        <setting label="30202" type="lsep"/>
        <setting label="35002" type="bool" id="USEnabled" default="true"/>
        <setting label="35005" type="bool" id="USLocalEnabled" default="false"/>
        <setting label="35004" type="bool" id="USRegionalEnabled" default="true"/>



        <setting label="30203" type="lsep"/>
        <setting label="35003" type="bool" id="UKEnabled" default="false"/>
 
        <setting label="35000" type="lsep"/>
        <setting label="35010" type="action" action="RunPlugin(plugin://plugin.video.parrottv/regenM3U)"/>
    </category>
    <!--
    <category label="36000"> 
        <setting label="36001" type="bool" id="EPGEnabled" default="true"/>
        <setting label="36002" type="bool" id="EPGCZSK" default="false"/>
        <setting label="36003" type="bool" id="EPGUS" default="true"/>
        <setting label="36004" type="action" action="RunPlugin(plugin://plugin.video.parrottv/regenEPG)"/>
    </category>
    -->
    <category label="34000"> <!-- Credits -->
        <setting label="34001" type="action" action="RunPlugin(plugin://plugin.video.parrottv/Credits)"/>
    </category>
</settings>