<settings>
	<category label="Settings">
        <setting id="gotham_fix_2" type="bool" label="Use alternative Gotham playing method (pre-cache)" default="true"/>
        <setting id="pre-cache" type="labelenum" label="Amount to pre-cache" default="250K" values="250K|500K|750K|1000K" enable="eq(-1,true)"/>
        <setting id="keep_downloads" type="bool" label="Keep all downloaded tracks" default="false" enable="eq(-2,true)"/>
        <setting id="custom_directory" type="bool" label="Custom Music Directory" default="false" />
        <setting id="music_dir" type="folder" label="Music Directory" default="set" enable="!eq(-1,false)"/>
        <setting id="folder_structure" type="enum" values="Artist/Album/Song|Artist - Album/Song" label="Artist/Album Folder Structure" default="0" />
        <setting id="default_queue" type="bool" label="Queue songs on selection" default="false" />
        <setting id="default_queue_album" type="bool" label="Queue albums on selection" default="false" />
        <setting id="hide_fanart" type="bool" label="Hide fanart when playing" default="false" />
	</category>
</settings>