<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Build Options">
		<setting type="lsep" label="Current Build:"/>
		<setting id="buildname" type="text" label="Installed Build: " enable="false" default="No Build Installed"/>
		<setting id="buildversion" type="text" label="Installed Version: " enable="false" default="0"/>
		<setting id="firstrun" type="bool" label="First Run" visible="true"/>
		<setting id="firstrunNotify" type="bool" label="First Run" visible="true"/>
		<setting id="notifyversion" type="text" label="Installed Version: " enable="false" default="0"/>
	</category>
</settings>